<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <form action="" method="">
        <input type="text" name="txtLogin" placeholder="Login"><br><br>
        <input type="password" name="txtSenha" placeholder="Senha"><br><br>
        <!--<input type="submit" value="Entrar">-->
        <input type="button" name="btnentrar" value="Entrar" onclick="window.location.href='/home'">
        <input type="reset" name="btnCancelar" value="Cancelar"><br><br><br><br>
    </form>
        <input type="submit" name="btnCriarConta" value="Criar Conta">
    

</body>
</html>