
.imgMeta{
    margin:20px;
    border-radius: 20px;
}

.imgMetaRadius{
    border-radius: 20px;
}

.marginHome{
    margin-left:0px;
}

.menuSuperior{
    background-color: #E0E0E0;
    width: 100%;
    height: 40px;
    margin-top: 0px;
}


body{
    background-image: url("/img/backLogin2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.subMenus{
    border: 20px;
}

.imgCenter{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.imgTabela{
    width: 50%;
}

.textCenter{
    text-align: center;
}

.imgMenu{
    width: 100px;
    height: 28px;
}

.marginPadrao{
    margin: 10px;
}

.marginPadrao2{
    margin: 20px;
}

.centralizando{
    text-align: center;
}

.botaoCadastrar{
    background-color:#007BFF;
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 10px 15px;
    color: #eee;
}

.imgCadastro{
    width: 75%;
}