<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ingestão de Água</title>
</head>
<body>
    <h1>Consumo de Água</h1>
    <!--Adicionar informações do banco-->
    <a href="/cadastrarAgua">Adicionar</a>

</body>
</html>