<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <title>Ingestão de Água</title>

    <div class="menuSuperior">
         <ul class="nav nav-pills">
            <li class="nav-item">
               <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/metas">Metas</a>
            </li>
            <li class="nav-item">
               <a class="nav-link active" href="/agua">Água</a>
            </li>
            <li class="nav-item">
               <a class="nav-link " href="/treino">Treino</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/">Sair</a>
            </li>
         </ul>
      </div>
      
</head>

<body>

   <div class="container">
        <h2>Consumo de Água</h2><br /><br />
        <div class="row">
            <img src="/img/aguaImg.png" class="img-fluid imgCenter" />
        </div>

        <br />
        <!--Adicionar informações do banco-->
        <a href="/cadastrarAgua">Adicionar</a>
    </div>

    <table>
        <thead>
            <tbody>
                <%
                    for(var i=0; i < data.length; i++){
                %>
                <tr>
                    <td><%= data[i].dtConsumo %></td>
                </tr>
                <tr>
                    <td><%= data[i].horarioAgua %><label>hrs</label></td>
                    <td><%= data[i].qtdAgua %></td>
                </tr>
                <%
                    }
                %>
            </tbody>
        </thead>
    </table>
</body>

</html>