<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <title>Metas Diarias</title>
</head>

<body>
    <div class="menuSuperior">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Metas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/agua">Água</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Sair</a>
            </li>
        </ul>
    </div>
    <br />
    <div class="container">
        <h2 class="textCenter">Metas Diárias</h2>

        <div class="row">
                <img src="/img/icone-nutricao.png" class="img-fluid imgCenter" />
            </div>

            
        Café da manhã<br>
        Lanche da manhã<br>
        Almoço<br>
        Lanche da tarde<br>
        Jantar<br>

    </div>
    <!--Adicionar informações do banco-->
</body>

</html>