<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <script src="models/usuario.js"></script>
    <title>Pagina Inicial</title>
</head>
<body>
    <a href="/treino">Treino</a>
    <a href="/nutricao">Tabela Nutricional</a>
    <a href="">Desempenho</a><br>
    <a href="/metas">Metas</a>
    <a href="/agua">Ingestão Água</a>
    <a href="">Configuração</a>
</body>
</html>