<!DOCTYPE html>
<html lang="pt-Br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="manifest" href="manifesto.json">
    <script src="jwRegister.js"></script>

    <title>Argos Health</title>

</head>

<body>
    <!-- 
    <form action="" method="">
        <input type="text" name="txtLogin" placeholder="Login"><br><br>
        <input type="password" name="txtSenha" placeholder="Senha"><br><br>
        <input type="button" name="btnentrar" value="Entrar" onclick="window.location.href='/home'">
        <input type="reset" name="btnCancelar" value="Cancelar"><br><br><br><br>
    </form>
        <input type="submit" name="btnCriarConta" value="Criar Conta">
-->
    <script>
        function Login() {
            var done = 0;
            var usuario = document.getElementsByName('txtLogin')[0].value;
            usuario = usuario.toLowerCase();
            var senha = document.getElementsByName('txtSenha')[0].value;
            senha = senha.toLowerCase();

            // alert(usuario+" "+senha);

            if (usuario == "abc" && senha == "123") {
                location.href = "/home";
                done = 1;
            }
            if (done == 0) {
                alert("Dados incorretos, tente novamente!");

            }
        }
    </script>


    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form">
                    <span class="login100-form-title p-b-48">
                        <img src="img/Logo_Argos.png" class="img-fluid">
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                        <input class="input100" type="text" name="txtLogin">
                        <span class="focus-input100" data-placeholder="Email"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye"></i>
                        </span>
                        <input class="input100" type="password" name="txtSenha">
                        <span class="focus-input100" data-placeholder="Senha"></span>
                    </div>


                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <!--
                            <button class="login100-form-btn" onclick="window.location.href='/home'">
                                Entrar
                            </button>-->
                            <input class="login100-form-btn" type="button" name="btnLogar" onclick="Login()" value="Logar">
                        </div>
                    </div>

                    <input>
                    <div class="text-center p-t-115">
                        <span class="txt1">
                            Não tem um perfil cadastrado?
                        </span>

                        <a class="txt2" href="/cadastro">
                            Criar perfil.
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>