<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <title>Argos Health</title>

    <div class="menuSuperior">
            <ul class="nav nav-pills">
               <li class="nav-item">
                  <a class="nav-link active" href="/home">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/metas">Metas</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/agua">Água</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link " href="/treino">Treino</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/">Sair</a>
               </li>
            </ul>
         </div>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col imgMeta ">
                <img src="/img/metaDiaria.jpg" class="img-fluid imgMetaRadius" />
            </div>
        </div>

        <br />

        <div class="row marginHome">
            <div class="col">
                <a href="/treino"> <img src="/img/menu1.png" class="img-fluid" /> </a>
                <!--  <a href="/treino">Treino</a><br />-->
            </div>
        </div>

        <div class="row marginHome">
            <div class="col">
                <a href="/nutricao"> <img src="/img/menu2.png" class="img-fluid" /> </a>
            </div>
        </div>

        <div class="row marginHome">
            <div class="col">
                <a href="/agua"> <img src="/img/menu3.png" class="img-fluid" /> </a><br />
            </div>
        </div>

        <div class="row marginHome">
            <div class="col">
                <a href="/metas"> <img src="/img/menu4.png" class="img-fluid" /> </a><br />
            </div>
        </div>
    </div>
    </div>

</body>

</html>