<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="/insereUsuario">
        <label>Nome</label><br>
        <input type="text" name="nomePessoa">
        <br><br>
        <label>Data de Nascimento</label><br>
        <input type="text" name="dtNascimento">
        <br><br>
        <label>Numero de Celular</label><br>
        <input type="text" name="numCelular">
        <br><br>
        <label>Peso</label><br>
        <input type="text" name="peso">
        <br><br>
        <label>Altura</label><br>
        <input type="text" name="altura">
        <br><br>
        <label>Email</label><br>
        <input type="text" name="email">
        <br><br>
        <label>Senha</label><br>
        <input type="password" name="senha">
        <br><br>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>